/* Write your CSS here */
.item-container {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.arrow-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.arrow {
  width: 15px;
  height: 15px;
}
